.layout-footer {
  margin-top: $spacing-triple;
  padding: $spacing-double 0;
  background-color: $color-light;

  .row {
    flex-direction: column;

    @media (min-width: $sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .column {
    width: 100%;

    @media (min-width: $sm) {
      width: 50%;
    }

    @media (min-width: $md) {
      width: 25%;
    }
  }
}
