@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');

.guideline-wrapper{
	min-height: 100vh;
	padding: 50px;

	color: #111517;
	text-align: center;
}

/* palette */
.g_palette{
	margin-top: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	&-i{
		width: 50px;
		height: 50px;
		margin: 0 30px;

		border: 1px solid #ccc;

		/* red */
		&--1{
			background-color: #c93e30;
		}

		/* black */
		&--2{
			background-color: #111517;
		}
		
		/* grey */
		&--3{
			background-color: #BBBDBF;
		}

		/* white */ 
		&--4{
			background-color: #fff;
		}

		/* blue */ 
		&--5{
			background-color: #007b8a;
		}	
	}
	
	&-list{
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: flex;
		li{
			flex-basis: 20%;
		}
	}
}

/* font */ 
.g_font{

	&-example{
		width: 500px;
		margin: 30px auto 0;

		font-family: 'Open Sans', sans-serif;	
		font-size: 16px; 
		line-height: 25px;

		&--light{
			font-weight: 300;
		}
		&--regular{
			font-weight: 400;
		}
		&--bold{
			font-weight: 700;
		}
		&--exbold{
			font-weight: 800;
		}
	}

	&-links{
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;

			a{
				border: 0;
			}
		}

		a{
			padding: {
				left: 2px;
				right: 2px;
			}
			border-bottom: 1px solid #c93e30;
			color: #c93e30;
			text-decoration: none;

			transition: all .2s cubic-bezier(1, 0, 0, 1);

			&:hover{
				background-color: #c93e30;
				color: #fff;
			}
		}
	}
}

.heading{
	&-1,
	&-2,
	&-3,
	&-4,
	&-5,
	&-6{
		margin:{
			top: 0;
			bottom: 15px;
		}
		font: {
			family: 'Open Sans', sans-serif;	
			weight: 400;
		}
	}
	&-1{
		font-size: 40px;
	}
	&-2{
		font-size: 32px;
	}
	&-3{
		font-size: 28px;
	}
	&-4{
		font-size: 24px;
	}
	&-5{
		font-size: 20px;
	}
	&-6{
		font-size: 16px;
	}
}