@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Oswald:300&subset=cyrillic');

.guideline-wrapper{
	min-height: 100vh;
	padding: 50px;

	color: #111517;
	text-align: center;
}

/* palette */
.g_palette{
	margin-top: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	&-i{
		width: 50px;
		height: 50px;
		margin: 0 30px;

		border: 1px solid #ccc;

		/* red */
		&--1{
			background-color: #c93e30;
		}

		/* black */
		&--2{
			background-color: #111517;
		}
		
		/* grey */
		&--3{
			background-color: #BBBDBF;
		}

		/* white */ 
		&--4{
			background-color: #fff;
		}

		/* blue */ 
		&--5{
			background-color: #007b8a;
		}	
	}
	
	&-list{
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: flex;
		li{
			flex-basis: 20%;
		}
	}
}

/* font */ 
.g_font{

	&-example{
		width: 500px;
		margin: 30px auto 0;

		font-family: 'Open Sans', sans-serif;	
		font-size: 16px; 
		line-height: 25px;

		&--light{
			font-weight: 300;
		}
		&--regular{
			font-weight: 400;
		}
		&--bold{
			font-weight: 700;
		}
		&--exbold{
			font-weight: 800;
		}
	}

	&-links{
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;

			a{
				border: 0;
			}
		}

		a{
			padding: {
				left: 2px;
				right: 2px;
			}
			border-bottom: 1px solid #c93e30;
			color: #c93e30;
			text-decoration: none;

			transition: all .2s cubic-bezier(1, 0, 0, 1);

			&:hover{
				background-color: #c93e30;
				color: #fff;
			}
		}
	}
}

.heading{
	&-1,
	&-2,
	&-3,
	&-4,
	&-5,
	&-6{
		margin:{
			top: 0;
			bottom: 15px;
		}
		font: {
			family: 'Oswald', sans-serif;
			weight: 400;
		}
	}
	&-1{
		font-size: 40px;
	}
	&-2{
		font-size: 32px;
	}
	&-3{
		font-size: 28px;
	}
	&-4{
		font-size: 24px;
	}
	&-5{
		font-size: 20px;
	}
	&-6{
		font-size: 16px;
	}
}

.g_table{
	width: 800px;
	margin: 0 auto;

	caption{
		@extend .heading-4;

		text-align: left;
	}

	table{
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;

		text-align: center;
		line-height: 25px;
		font: {
			size: 16px;
			family: 'Open Sans', sans-serif;	
			weight: 400;
		}
	}

	thead{
		background: rgba(187, 189, 191, .1);
	}
	tbody tr{
		border-bottom: 1px solid rgba(187, 189, 191, .1);

		&:last-child{
			border-bottom: 0;
		} 
	}

	th{
		padding: {
			top: 10px;
			bottom: 10px;
		}

		text-transform: uppercase;
		font: {
			size: 14px;
			weight: 400;
		}
	}
	td{
		padding: {
			top: 8px;
			bottom: 8px;
		}
	}
	th, td {
		padding: {
			left: 4px;
			right: 4px;
		}
		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
	}
}

.g_button{
	.btn{
		display: inline-block;
		position: relative;
		border: 0;
		outline: 0;
		padding: 5px 8px; 
		
		text: {
			align: center;
			decoration: none;
			transform: uppercase;
		}

		background: #007b8a;
		color: #fff;

		transition: .2s cubic-bezier(1, 0, 0, 1);
		
		line-height: 30px;
		font: {
			size: 14px;
			family: 'Open Sans', sans-serif;	
			weight: 400;
		}
		cursor: pointer;
		white-space: nowrap;
		user-select: none;

		&:hover{
			background: #fff;
			color: #007b8a;
			text-shadow: none;
			box-shadow: inset 0 0 0 2px #007b8a;
		}
	}
}