body{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  @media(max-width: $screen-xs-max){
    background-color: $color-white;
  }
  @media(min-width: $screen-xs){
    padding: {
      top: 50px;
      bottom: 150px;
    }
    background: {
      image: url("../images/body-bg.jpg");
      position: 50% top;
      size: cover;
      repeat: no-repeat;
      attachment: fixed;
    }  
  }
}

#main-wrapper{
  display: flex;
  flex-wrap: wrap;

  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .12), 0 2px 10px 0 rgba(0, 0, 0, .12);

  @media(max-width: $screen-md-max){
    flex-direction: column;
  }
}
.main-wrapper{
  &__sidebar,
  &__content{
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }

  &__sidebar{
    @media(max-width: $screen-md-max){
      flex: 0 0 100%;
      width: 100%;

      .good-to-know,
      .sidebar-subscribe-wrapper{
        display: none;
      }
    }
    @media(min-width: $screen-md){
      flex: 0 0 30%;
      width: 30%;
    }

    .sidebar-menu-wrapper,
    .sidebar-subscribe-wrapper{
      margin-bottom: 25px;
    }
  }

  &__content{
    flex-grow: 1;
    flex-direction: column;

    @media(max-width: $screen-md-max){
      width: 100%;
      flex: 0 0 100%;
    }
    @media(min-width: $screen-md){
      width: 70%;
      flex: 0 0 70%;
    }
  }
}

#header{
  padding: 0;
}

#footer{
  flex-basis: 100%;

  padding: {
    left: $gutter;
    right: $gutter;
  }
}

#header,
#main-wrapper{
  @extend .layout-container;
}


.layout-container{
  margin: {
    left: auto;
    right: auto;
  }

  @media(max-width: $screen-xs-max){
    width: 100%;
  }
  @media(min-width: $screen-xs)and(max-width: $screen-lg-max){
    width: 90%;
  }
  @media(min-width: $screen-lg){
    width: 1200px;
  }
}