.footer{

  /* footer block menus wrapper */
  &__menus-wrapper{
    display: flex;
    padding: {
      top: 40px;
      bottom: 40px;
    }

    @media(max-width: $screen-md-max){
      flex-direction: column;
      order: 2;
    }
  }

  &__menu-block{
    flex: 0 0 calc(100% / 3);

    @media(max-width: $screen-md-max){
      margin-bottom: 20px;
    }

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li{

    }
    a{
      color: $color-red;
      text-decoration: none;
    }
  }
}