.footer-navigation {
  padding-bottom: $spacing-double;

  &__title {
    margin: 0 0 $spacing-half;
    color: $color-primary;

    a {
      text-decoration: none;
    }
  }

  .menu__item {
    margin-top: $spacing-half;

    @media (min-width: $lg) {
      margin-top: 0;
    }
  }

  .menu__link {
    border-bottom: 1px solid rgba($color-primary, .25);

    &:hover {
      border-color: rgba($color-primary, .75);
    }
  }
}
