.header__menu-wrapper{

}
.header__menu{
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;

  background-color: $color-red;

  > li{
    width: calc(100% / 7);
    text-align: center;

    > a{
      position: relative;
      display: block;
      padding: {
        top: 13px;
        bottom: 13px;
      }
      
      text: {
        transform: uppercase;
        decoration: none;
      }
      font: {
        size: 18px;
        family: $font-oswald;
        weight: 300;
      }
      line-height: $font-line-height;
      color: $color-white;
      letter-spacing: 1px;

      &:hover{
        transition: .2s cubic-bezier(1, 0, 0, 1);
        color: $color-red;
        background-color: $color-white;
      }
    }
  }
}
