.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: z('below');

  // display: none;
  width: 100%;
  height: 100%;
  max-width: 425px;
  overflow-y: auto;
  box-shadow: 0 0 3px $color-gray;
  background-color: $color-white;

  opacity: 0;
  transition: opacity .3s;

  .open-mobile-menu & {
    z-index: z('fixed', 1);
    opacity: 1;
  }

  &__header {
    height: 3.5rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    // color: $color-white;
    font-size: 1.5rem;
  }

  .menu__item {
    // border-top: 1px dashed rgba($color-primary, .5);

    &.expanded {
      position: relative;

      .menu--sub {
        display: none;
      }

      &.active {
        .menu--sub {
          display: block;
        }
      }
    }
  }

  .menu__link {
    display: block;
    padding: 1rem 1.25rem;
    font-weight: bold;

    &:hover,
    &.active {
      background-color: rgba($color-primary, .125);
    }
  }

  .menu--sub {
    .menu__link {
      position: relative;
      display: block;
      padding: 1rem 1.25rem 1rem 2.5rem;
      font-weight: normal;

      &::before {
        content: '+';
        position: absolute;
        top: 50%;
        left: 1.5rem;
        display: flex;
        align-items: center;
        width: 5px;
        height: 5px;
        margin-top: -4px;
        color: $color-accent;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        transform: rotate(45deg);
      }
    }
  }
}

.mobile-menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  color: $color-primary;
  font-size: 48px;
}
