.mobile-phones {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('below');

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: $color-white;

  opacity: 0;
  transition: opacity .3s;

  .show-phones & {
    z-index: z('fixed', 1);
    opacity: 1;
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: $color-gray-dark;
    font-size: 1.5rem;
  }

  .phones__item {
    margin-bottom: .25rem;
  }

  .phones__link {
    font-size: 2rem;
  }
}
