.phones {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    // margin-bottom: 0.5rem;
  }

  &__link {
    color: $color-primary;
    font-size: 1.25rem;
    text-decoration: none;
  }

  &__operator {
    color: $color-gray;
  }
}
