.search-form {
  width: 100%;

  background-color: $color-white;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    background-color: transparent;
    color: $color-gray-dark;
    font-size: 1.5rem;
  }

  &__close {
    display: none;
  }

  &__text {
    width: 100%;
    padding-right: 55px;
    border: 0;
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;
  }
}
