.button{
  display: inline-block;
  position: relative;
  border: 0;
  outline: 0;
  padding: 5px 15px; 
  
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }
  font: {
    size: $font-size;
    family: $font-sans;
    weight: 400;
  }
  color: $color-white;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;

  transition: .2s cubic-bezier(1, 0, 0, 1);

  &--white{
    box-shadow: inset 0 0 0 1px $color-white;
    background: none;

    &:hover{
      background: $color-white;
      color: $color-red;
    }
  }

  &--blue{
    background: $color-blue;
  }
}