/*
 * GUIDELINES
 * ==========
 * 1. Palette
 * 2. Font
 * 3. Etc
 */

/* 1. PALETTE */ 

/* menu, menu links, telephones, hovers, background */ 
$color-red: #c93e30;

/* text */
$color-black: #111517;

/* divider, border, background, text */ 
$color-grey: #BBBDBF;

/* background */
$color-white: #ffffff;

/* buttons */
$color-blue: #007b8a;

/* 2. FONT */ 
$font-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-size: 16px;
$font-line-height: 25px;

/* 3. ETC */
$gutter: 20px;
