<nav class="breadcrumbs-wrapper">
	<ul class="breadcrumbs">
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__link" href="javascript:void(0);">
				Homepage
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__link" href="javascript:void(0);">
				Somewhere
			</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__current">
				You are here
			</span>
		</li>
	</ul>
</nav>