<div class="header__content">

  {{!-- header right side --}}
  <div class="header__left-side">
    <a href="javascript:void(0);" class="header__logo">
      {{!-- 
        @TODO

        Change logo image by selected lang
      --}}
      <img src="../../images/logo.png" alt="Стильні вишиванки - це космос!">
    </a>
  </div>

  {{!-- header left side --}}
  <div class="header__right-side">

    <div class="header__search-lang-wrapper">

      {{!-- header lang --}}
      <div class="header__lang">
        <ul>
          <li class="active">
            <a href="javascript:void(0);">
              ua
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              ru
            </a>
          </li>
        </ul>
      </div>

      {{!-- header search --}}
      <div class="header__search">
        <input type="text" class="input-style" placeholder="Введіть слово або артикул">
      </div>
    </div>

    {{!-- header contacts --}}
    <div class="header__contacts">
      <ul>
        <li><a href="tel:+380976763730">097 676 3730</a></li>
        <li><a href="tel:+380667401472">066 740 1472</a></li>
        <li><a href="tel:+380633581080">063 358 1080</a></li>
      </ul>
    </div>
  </div>

</div>
