<nav class="header__menu-wrapper">
  <ul class="header__menu">
    <li><a href="javascript:void(0);">Главная</a></li>
    <li>
      <span>
        О проекте
        <i class="flaticon-arrows"></i>
      </span>
      <ul>
        <li><a href="javascript:void(0);">Руководитель проекта</a></li>
        <li><a href="javascript:void(0);">Миссия и ценности</a></li>
        <li><a href="javascript:void(0);">Наши мастерицы</a></li>
        <li><a href="javascript:void(0);">Сотрудничество</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);">Магазин</a></li>
    <li>
      <span>
        Наши фишки
        <i class="flaticon-arrows"></i>
      </span>
      <ul>
        <li><a href="javascript:void(0);">Акции месяца</a></li>
        <li><a href="javascript:void(0);">Эксклюзивные вышиванки</a></li>
        <li><a href="javascript:void(0);">Подарочный сертификат</a></li>
        <li><a href="javascript:void(0);">Клиенты в вышиванках</a></li>
        <li><a href="javascript:void(0);">Вышивка на заказ</a></li>
        <li><a href="javascript:void(0);">Блог</a></li>
      </ul>
    </li>
    <li>
      <span>
        Покупателям
        <i class="flaticon-arrows"></i>
      </span>
      <ul>
        <li><a href="javascript:void(0);">Оплата и доставка</a></li>
        <li><a href="javascript:void(0);">Как снять мерки</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);">Отзывы</a></li>
    <li><a href="javascript:void(0);">Контакты</a></li>
  </ul>
  <button class="header__menu-button">12321</button>
</nav>