<div class="header__contacts-wrapper">
  <a href="javascript:void(0);" class="">
    logo
  </a>
  <div>
    <span>ua</span>
    <span>ru</span>
  </div>
  <div>
    <input type="text" placeholder="Search...">
  </div>
  <div>
    <p>
      097 676 3730
    </p>
    <p>
      066 740 1472
    </p>
    <p>
      063 358 1080
    </p>
  </div>
</div>
