<nav class="header__menu-wrapper">
  <ul class="header__menu">
    <li><a href="javascript:void(0);">Головна</a></li>
    <li><a href="javascript:void(0);">Про проект</a></li>
    <li><a href="javascript:void(0);">Магазин</a></li>
    <li><a href="javascript:void(0);">Наші фішки</a></li>
    <li><a href="javascript:void(0);">Покупцям</a></li>
    <li><a href="javascript:void(0);">Відгуки</a></li>
    <li><a href="javascript:void(0);">Контакти</a></li>
  </ul>
  <ul class="header__menu">
    <li><a href="javascript:void(0);">Главная</a></li>
    <li><a href="javascript:void(0);">О проекте</a></li>
    <li><a href="javascript:void(0);">Магазин</a></li>
    <li><a href="javascript:void(0);">Наши фишки</a></li>
    <li><a href="javascript:void(0);">Покупателям</a></li>
    <li><a href="javascript:void(0);">Отзывы</a></li>
    <li><a href="javascript:void(0);">Контакты</a></li>
  </ul>
</nav>