<div class="list-item-preview">
	<a class="list-item-preview__left-side" href="javascript:void(0);">
		<img src="images/test-product-2.jpg" alt="alt">
	</a>
	<div class="list-item-preview__right-side">
		<a class="list-item-preview__title" href="javascript:void(0);">
			<h2 class="heading-2">
				Варцабьюк Евгения Ярославовна
			</h2>
		</a>
		<div class="list-item-preview__content">
			Коломыя
			Окончила КМК им.И.Я.Франко по специальности акушер. Работаю по профессии, замужем и воспитываю дочь.

			Хобби к вышивке появилось еще с детства, очень мне нравится
			Есть много вещей, которые вызывают у меня восхищение. Мое увлечение - это вышивка.
		</div>
	</div>
</div>