<nav class="mobile-menu">
  <div class="mobile-menu__header">
    <button class="js-mobile-menu-close" type="button">
      <svg class="icon"><use xlink:href="icons/sprite.svg#icon-close"></use></svg>
    </button>
  </div>
  <ul class="menu">
    {{#each site.menu}}
      <li class="menu__item {{#if sub }}expanded active{{/if}}">
        <a class="menu__link {{#if active }}active{{/if}}" href="{{link}}">{{name}}</a>
        {{#if sub}}
          <ul class="menu menu--sub">
            {{#each sub}}
              <li class="menu__item">
                <a  class="menu__link" href="{{link}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>
