<div class="mobile-bar">
  <div class="container">
    <div class="mobile-bar__row">
      <ul class="mobile-bar__lang">
        <li><a href="#">RU</a></li>
        <li><a href="#">UA</a></li>
      </ul>
      <button class="js-open-mobile-phones" type="button">
        <svg class="icon"><use xlink:href="icons/sprite.svg#icon-phone"></use></svg>
      </button>
      <button class="js-open-search" type="button">
        <svg class="icon"><use xlink:href="icons/sprite.svg#icon-magnify"></use></svg>
      </button>
      <button class="js-open-mobile-menu" type="button">
        <svg class="icon"><use xlink:href="icons/sprite.svg#icon-menu"></use></svg>
      </button>
    </div>
  </div>
</div>
