<nav class="pagination-wrapper">
	<ul class="pagination">
		<li class="pagination__item">
			<a class="pagination__link" href="javascript:void(0);">
				1
			</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="javascript:void(0);">
				2
			</a>
		</li>
		<li class="pagination__item pagination__item--current">
			<span class="pagination__current">
				3
			</span>
		</li>
	</ul>
</nav>