<a class="product-preview" href="javascript:void(0);">
  <div class="product-preview__image-wrapper">
    <img src="images/test-product.jpg" alt="product item preview alt-name">
  </div>
  <h3 class="product-preview__title heading-4">
    Лосины бежевые "Классика"
  </h3>
  <div class="product-preview__price-wrapper">
    <span class="product-preview__price--current">1200 грн</span>
  </div>
</a>