<form class="search-form js-search-form">
  <button class="search-form__button search-form__close js-search-form-close" type="button">
    <svg class="icon"><use xlink:href="icons/sprite.svg#arrow-left"></use></svg>
  </button>
  <input class="search-form__text form-text js-search-form-text" type="text" placeholder="Введіть слово або артикул">
  <button class="search-form__button search-form__submit">
    <svg class="icon"><use xlink:href="icons/sprite.svg#icon-magnify"></use></svg>
    </button>
</form>
